.panel {
	/* margin-block: 1rem; */
	background-color: hsl(var(--color-bg-panel));
	border: var(--border-width) solid hsl(var(--color-border));
	border-radius: var(--border-radius);
}

.label {
	display: block;
	font-family: var(--ff-mono);
	text-transform: uppercase;
}